$min-width: 1000px;
$min-height: 600px;
$header-height: 60px;
$tools-icon-size: 18px;
$tools-margin-right: 15px;

$border-color: #EAEBED;
$border: 1px solid $border-color;
$header-background-color: #F9FAFB;
$tools-icon-color:#525252;

@mixin content-padding($t, $l) {
    padding: $t $l;
    box-sizing: border-box;
}

.marked {
    width: $min-width;
    min-height: $min-height;
    border: $border;

    &-tools {
        width: 100%;
        height: $header-height;
        background: $header-background-color;
        border-bottom: $border;
        @include content-padding(0, 15px);
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            font-size: $tools-icon-size;

            li {
                margin-right: $tools-margin-right;
                cursor: pointer;
                color: $tools-icon-color;

                &:hover {
                    opacity: 0.8;
                }

                .icon {
                    font-weight: bold;
                }
            }
        }
    }

    &-content {
        width: 100%;
        min-height: $min-height - $header-height;
        display: flex;

        div {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            @include content-padding(10px, 15px);
        }

        &-text {
            border-right: $border;
            background: $header-background-color;
        }
    }
}